:root {
	--x-large: 2.5rem;
	--large: 1.5rem;
	--medium: 1.25rem;
	--normal: 1rem;
	--small: 0.875rem;
	--x-small: 0.75rem;

	--spacing-large: 1rem;
	--spacing-medium: 0.75rem;
	--spacing-normal: 0.5rem;
	--spacing-small: 0.25rem;
	--spacing-tiny: 0.0625rem;

	--border-radius: 10px;
	--animation-length: 0.3s;

	--intensity-1: #525d5c;
	--intensity-2: #2559b8;
	--intensity-3: #309d5c;
	--intensity-4: #f2d568;
	--intensity-5: #f9ab22;
	--intensity-6: #ec6f14;
	--intensity-7: #d50402;
	--intensity-8: #5b0289;
	--intensity-9: #000000;
	--intensity-max: #000000;
}
